﻿@model Core.Models.User.User


<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Crear Usuario</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Document, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @class = "form-control" } })
                                <label class="errorDocument"></label>
                              
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Names, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Names, new { htmlAttributes = new { @class = "form-control" } })
                                <label class="errorName"></label>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" id="btn_saveUser" value="Guardar" class="btn btn-info" />
                                @Html.ActionLink("Regresar", "Create", "DeleteFiles", null, new { @class = "btn btn-danger" })

                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/validateUser.js"></script>

}

