﻿@model IEnumerable<Core.Models.User.User>



<style>
    thead {
        background-color: #545b62;
        color: white;
    }
</style>

<div class="box box-danger">
    <div class="box-body">
        <div class="container">
            <div class="box-header with-border">
                <p class="input-group-addon alert text-center"><b>GENERACIÓN DE ARCHIVO</b> </p>
            </div><br />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg">Ver Listado de usuarios a Eliminar del Pdf</button>
                </div>
            </div><br />

            <div class="row">
                <div class="col-md-6">
                    <span><strong>Nombre del Archivo</strong></span>
                    <input type="file" class="form-control check_verificar" id="file_pdf" data-nombre="Archivo" required />
                </div>
                <div class="col-md-6">
                    <span><strong>Correo de destino</strong></span>
                    <input type="email" id="email" class="form-control check_verificar" />
                </div>
            </div>


            <div class="row mt-3">
                <div class="col">
                    <a href="#" download id="download" style="display:none"></a>
                    <input type="button" value="Crear" id="btn_createLog" class="btn btn-info btn-block" />
                </div>
            </div>

        </div><br />
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="container">
                        <div class="box-header with-border">
                            <p class="input-group-addon alert text-center"><b>LISTADO DE USUARIOS A ELIMINAR DEL PDF</b> </p>
                        </div><br />

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.ActionLink("Crear Nuevo", "Create", "Users", null, new { @class = "btn btn-xs btn-info" })
                                </div>
                            </div><br />

                            <table id="tabla" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Documento
                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Document)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Names)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", "Users", new { id = item.Id }, new { @class = "btn btn-xs btn-primary" })
                                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




@section Scripts{
    <script src="~/Scripts/downloadFile.js"></script>
}


