﻿
@{
    ViewBag.Title = "Index";
}
@model  Core.Models.Security.AccountsViewModel

<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Ingresar</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-md-12">
				@using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
				{

					<div class="form-group">
						<label class="control-label col-md-2">Usuario</label>
						<div class="col-md-10">
							@Html.EditorFor(model => model.Accounts.UserName, new { htmlAttributes = new { @class = "form-control" } })
						</div>
					</div>
					<div class="form-group">
                        <br />  
						<label class="control-label col-md-2">contraseña</label>
						<div class="col-md-10">
							@Html.PasswordFor(model => model.Accounts.Password, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2"></label>
						<div class="col-md-10">
                            <br />
							<input type="submit"	 name="send" value="Ingresar" class="btn btn-success" />
							@if (ViewBag.Error != null) {
								<div class="alert alert-danger">@ViewBag.Error</div>
							}
						</div>
					</div>


				}
			</div>
		</div>

	</div>
</div>

